* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    width: 44rem;
}

html,
body {
    overflow-x: hidden;
}

a {
    color: inherit;
    text-decoration: none;
}
